<!-- SUCCESS STORY -->
<div class="gdlr-core-pbf-wrapper "  id="gdlr-core-wrapper-2">
    <div class="gdlr-core-pbf-background-wrap" id="div_f47b_85">
        <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" id="div_f47b_86" data-parallax-speed="0.04"></div>
    </div>
    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
            <div class="gdlr-core-pbf-element">
                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" id="div_f47b_87">
                    <div class="gdlr-core-title-item-title-wrap ">
                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " id="h3_f47b_27">
                            Our Success Stories<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span>
                        </h3>
                    </div><span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption" id="span_f47b_7">
                        what we've done</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SUCCESS STORY END -->

<!-- SUCCESS STORY STAT -->
<div class="gdlr-core-pbf-wrapper "  data-skin="Purple Service" id="gdlr-core-wrapper-3">
    <div class="gdlr-core-pbf-background-wrap" id="div_f47b_88"></div>
    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js " data-gdlr-animation="fadeInUp" data-gdlr-animation-duration="600ms" data-gdlr-animation-offset="0.8">
        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
            <div class="gdlr-core-pbf-column gdlr-core-column-15 gdlr-core-column-first">
                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " id="div_f47b_89">
                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-counter-item gdlr-core-item-pdlr gdlr-core-item-pdb ">
                                <div class="gdlr-core-counter-item-number gdlr-core-skin-title" id="div_f47b_90"><span class="gdlr-core-counter-item-count gdlr-core-js" data-duration="2000" data-counter-start="0" data-counter-end="5000000">0</span></div>
                                <div class="gdlr-core-counter-item-bottom-text gdlr-core-skin-content" id="div_f47b_91">
                                    All Time Clients
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gdlr-core-pbf-column gdlr-core-column-15">
                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-counter-item gdlr-core-item-pdlr gdlr-core-item-pdb ">
                                <div class="gdlr-core-counter-item-number gdlr-core-skin-title" id="div_f47b_92"><span class="gdlr-core-counter-item-count gdlr-core-js" data-duration="2000" data-counter-start="0" data-counter-end="1999">0</span></div>
                                <div class="gdlr-core-counter-item-bottom-text gdlr-core-skin-content" id="div_f47b_93">
                                    Clients this Year
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gdlr-core-pbf-column gdlr-core-column-15">
                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-counter-item gdlr-core-item-pdlr gdlr-core-item-pdb ">
                                <div class="gdlr-core-counter-item-number gdlr-core-skin-title" id="div_f47b_94"><span class="gdlr-core-counter-item-count gdlr-core-js" data-duration="2000" data-counter-start="0" data-counter-end="300">0</span></div>
                                <div class="gdlr-core-counter-item-bottom-text gdlr-core-skin-content" id="div_f47b_95">
                                    New Projects
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gdlr-core-pbf-column gdlr-core-column-15">
                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " id="div_f47b_96">
                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-counter-item gdlr-core-item-pdlr gdlr-core-item-pdb ">
                                <div class="gdlr-core-counter-item-number gdlr-core-skin-title" id="div_f47b_97"><span class="gdlr-core-counter-item-count gdlr-core-js" data-duration="2000" data-counter-start="0" data-counter-end="95">0</span><span class="gdlr-core-counter-item-suffix">%</span></div>
                                <div class="gdlr-core-counter-item-bottom-text gdlr-core-skin-content" id="div_f47b_98">
                                    Avg Profit Increased
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SUCCESS STORY STAT END -->
