<!-- Liquidators -->
<div class="liq">
    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
            <div class="gdlr-core-pbf-element">
                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" id="div_f47b_13">
                    <div class="gdlr-core-title-item-title-wrap ">
                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " id="h3_f47b_3">
                            Liquidators
                            <span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span>
                        </h3>
                    </div>
                    <span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption" id="span_f47b_0">
                        We are backed by top companies all over the world
                    </span>
                </div>
            </div>
        </div>
    </div> 
</div>
<!-- Liquidators End -->

<!-- SPONSORS TEXT -->
    <div class="gdlr-core-pbf-wrapper " id="div_f47b_56">
        <div class="gdlr-core-pbf-background-wrap" id="div_f47b_57"></div>
        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container-custom" id="div_f47b_58">
                <div class="gdlr-core-pbf-element">
                    <div class="gdlr-core-gallery-item gdlr-core-item-pdb clearfix  gdlr-core-gallery-item-style-grid gdlr-core-item-pdlr ">
                        <div class="gdlr-core-flexslider flexslider gdlr-core-js-2 " data-type="carousel" data-column="5" data-nav="none" data-nav-parent="gdlr-core-blog-item">
                            <ul class="slides">
                                <li class="gdlr-core-item-mglr">
                                    <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="upload/banner-1.png" alt="" width="300" height="130"></div>
                                </li>
                                <li class="gdlr-core-item-mglr">
                                    <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="upload/banner-1.png" alt="" width="300" height="130"></div>
                                </li>
                                <li class="gdlr-core-item-mglr">
                                    <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="upload/banner-1.png" alt="" width="300" height="130"></div>
                                </li>
                                <li class="gdlr-core-item-mglr">
                                    <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="upload/banner-1.png" alt="" width="300" height="130"></div>
                                </li>
                                <li class="gdlr-core-item-mglr">
                                    <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="upload/banner-1.png" alt="" width="300" height="130"></div>
                                </li>
                            </ul>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- SPONSORS TEXT END-->

<!-- SPONSORS MAIN -->
    <div class="gdlr-core-pbf-wrapper " id="div_f47b_59">
        <div class="gdlr-core-pbf-background-wrap" id="div_f47b_60"></div>
        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js " data-gdlr-animation="fadeIn" data-gdlr-animation-duration="600ms" data-gdlr-animation-offset="0.8">
            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-pbf-wrapper-full-no-space">
                <div class="gdlr-core-pbf-column gdlr-core-column-30 gdlr-core-column-first">
                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " data-sync-height="quote-height">
                        <div class="gdlr-core-pbf-background-wrap">
                            <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" id="div_f47b_61" data-parallax-speed="0"></div>
                        </div>
                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content"></div>
                    </div>
                </div>
                <div class="gdlr-core-pbf-column gdlr-core-column-30">
                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " id="div_f47b_62" data-sync-height="quote-height" data-sync-height-center="">
                        <div class="gdlr-core-pbf-background-wrap" id="div_f47b_63"></div>
                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content">
                            <div class="gdlr-core-pbf-element">
                                <div class="gdlr-core-blockquote-item gdlr-core-item-pdlr gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-large-size">
                                    <div class="gdlr-core-blockquote gdlr-core-info-font">
                                        <div class="gdlr-core-blockquote-item-quote gdlr-core-quote-font gdlr-core-skin-icon">&#8220;</div>
                                        <div class="gdlr-core-blockquote-item-content-wrap">
                                            <div class="gdlr-core-blockquote-item-content gdlr-core-skin-content">
                                                <p>Our goal is to make money while we sleep so that we may sleep</p>
                                            </div>
                                            <div class="gdlr-core-blockquote-item-author gdlr-core-skin-caption">
                                                    Eze Excel
                                                <span class="gdlr-core-blockquote-item-author-position">
                                                    CEO Wolves Finance
                                                </span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- SPONSORS MAIN END --> 