<!-- CLIENT TESTIMONIALS -->
    <div class="gdlr-core-pbf-wrapper " id="div_f47b_73" data-skin="HP Testimonial">
        <div class="gdlr-core-pbf-background-wrap">
            <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" id="div_f47b_74" data-parallax-speed="0.2"></div>
        </div>
        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container-custom" id="div_f47b_75">
                <div class="gdlr-core-pbf-element">
                    <div class="gdlr-core-testimonial-item gdlr-core-item-pdb clearfix  gdlr-core-testimonial-style-center gdlr-core-item-pdlr">
                        <div class="gdlr-core-flexslider flexslider gdlr-core-js-2 gdlr-core-nav-style-middle-large" data-type="carousel" data-column="1" data-nav="bullet" data-vcenter-nav="1" data-disable-autoslide="1">
                            <div class="gdlr-core-block-item-title-wrap  gdlr-core-center-align gdlr-core-item-mglr" id="div_f47b_76">
                                <div class="gdlr-core-block-item-title-inner">
                                    <h3 class="gdlr-core-block-item-title" id="h3_f47b_26">
                                        Client’s Testimonials
                                    </h3></div>
                                <div class="gdlr-core-flexslider-nav gdlr-core-round-style gdlr-core-absolute-center gdlr-core-right"></div>
                            </div>
                            <ul class="slides">
                                <li class="gdlr-core-item-mglr">
                                    <div class="gdlr-core-testimonial clearfix">
                                        <div class="gdlr-core-testimonial-content-wrap">
                                            <div class="gdlr-core-testimonial-content gdlr-core-info-font gdlr-core-skin-content" id="div_f47b_77">
                                                <p>In promotion and advertising, a testimonial or show consists of a person's
                                                     written or spoken statement extolling the virtue of a product. 
                                                     The term "testimonial" most commonly applies to the sales-pitches attributed 
                                                     to ordinary citizens, whereas the word "endorsement" usually applies to pitches 
                                                     by celebrities</p>
                                            </div>
                                            <div class="gdlr-core-testimonial-author-wrap clearfix">
                                                <div class="gdlr-core-testimonial-quote gdlr-core-quote-font gdlr-core-skin-icon" id="div_f47b_78">&#8220;</div>
                                                <div class="gdlr-core-testimonial-author-content">
                                                    <div class="gdlr-core-testimonial-title gdlr-core-title-font gdlr-core-skin-title" id="div_f47b_79">
                                                        Eze Excel
                                                    </div>
                                                    <div class="gdlr-core-testimonial-position gdlr-core-info-font gdlr-core-skin-caption" id="div_f47b_80">
                                                        CEO Wolves Finance
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="gdlr-core-item-mglr">
                                    <div class="gdlr-core-testimonial clearfix">
                                        <div class="gdlr-core-testimonial-content-wrap">
                                            <div class="gdlr-core-testimonial-content gdlr-core-info-font gdlr-core-skin-content" id="div_f47b_77">
                                                <p>In promotion and advertising, a testimonial or show consists of a person's
                                                     written or spoken statement extolling the virtue of a product. 
                                                     The term "testimonial" most commonly applies to the sales-pitches attributed 
                                                     to ordinary citizens, whereas the word "endorsement" usually applies to pitches 
                                                     by celebrities</p>
                                            </div>
                                            <div class="gdlr-core-testimonial-author-wrap clearfix">
                                                <div class="gdlr-core-testimonial-quote gdlr-core-quote-font gdlr-core-skin-icon" id="div_f47b_78">&#8220;</div>
                                                <div class="gdlr-core-testimonial-author-content">
                                                    <div class="gdlr-core-testimonial-title gdlr-core-title-font gdlr-core-skin-title" id="div_f47b_79">
                                                        Aaron
                                                    </div>
                                                    <div class="gdlr-core-testimonial-position gdlr-core-info-font gdlr-core-skin-caption" id="div_f47b_80">
                                                        Dev. Wolves Finance
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- CLIENT TESTIMONIALS END -->
