

<div class="financity-top-bar">
    <div class="financity-top-bar-background"></div>
    <div class="financity-top-bar-container clearfix financity-container ">
        <div class="financity-top-bar-left financity-item-pdlr">
            <span class="financity-dropdown-wpml-flag" id="financity-dropdown-wpml-flag">
                <span class="financity-dropdown-wpml-current-language">En</span>
                <span class="financity-dropdown-wpml-list" style="display: none;">
                    <span class="financity-dropdown-wpml-item"><a href="#">Es</a></span>
                </span>
            </span>
            <span class="financity-top-bar-divider financity-right-margin"></span> 
            <span class="gdlr-core-dropdown-tab gdlr-core-js clearfix">
                <span class="gdlr-core-dropdown-tab-title">
                    <span class="gdlr-core-head">Nigeria</span>
                    <span class="gdlr-core-dropdown-tab-head-wrap">
                        <span class="gdlr-core-dropdown-tab-head gdlr-core-active" data-index="0">Nigeria</span>
                        <span class="gdlr-core-dropdown-tab-head " data-index="1">New York</span>
                    </span>
            </span>
            <span class="financity-top-bar-divider financity-right-margin"></span>
            <span class="gdlr-core-dropdown-tab-content-wrap">
                <span class="gdlr-core-dropdown-tab-content gdlr-core-active" data-index="0"> 
                    <i class="icon_clock_alt" style="font-size: 17px;color: #3740b0;margin-right: 10px;"></i> Mon - Fri 10:00-18:00 
                    <i class="fa fa-phone" style="font-size: 17px;color: #3740b0;margin-left: 20px;margin-right: 10px;"></i>+234-90-5810-3762 </span>
                    <span class="gdlr-core-dropdown-tab-content " data-index="1"> 
                        <i class="icon_clock_alt" style="font-size: 17px;color: #3740b0;margin-right: 10px;"></i> Mon - Fri 10:00-18:00 
                        <i class="fa fa-phone" style="font-size: 17px;color: #3740b0;margin-left: 20px;margin-right: 10px;"></i>+34-354-5468-8 
                    </span>
                </span>
            </span>
        </div>
        <div class="financity-top-bar-right financity-item-pdlr">
            <div class="financity-top-bar-right-text">
                <i class="fa fa-envelope-open-o" style="font-size: 17px;color: #3740b0;margin-left: 20px;margin-right: 10px;"></i>
                wolvesfinance@gmail.com
            </div>
            <span class="financity-top-bar-divider financity-left-margin"></span>
            <div class="financity-top-bar-right-social">
                <a href="#" target="_blank" class="financity-top-bar-social-icon" title="facebook">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="#" target="_blank" class="financity-top-bar-social-icon" title="google-plus">
                    <i class="fa fa-google-plus"></i>
                </a>
                <a href="#" target="_blank" class="financity-top-bar-social-icon" title="pinterest">
                    <i class="fa fa-pinterest-p"></i>
                </a>
                <a href="#" target="_blank" class="financity-top-bar-social-icon" title="twitter">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#" target="_blank" class="financity-top-bar-social-icon" title="instagram">
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
</div>