body{
    font-family: montserrat;
}

.financity-header-bg{
    background-color: black;
}

.credibility{
    margin: 80px 0 15px;
}

.liq{
    background-color: #f2f2f2;
    margin-top: 50px;
    padding-top: 80px;
}